body {
  width: 98dvw;
  height: 98dvh;
  overflow: hidden;
}
body::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.09;
  overflow: hidden;
  background-image: url(../public/image/Shadmehr\ Aghili\ -\ Dehati.jpg);
  background-size: cover;
}

.card {
  background-size: cover;
  background-repeat: no-repeat;
}

.cardFast {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.shadowCard {
  width: 300px;
  height: 300px;
  position: fixed;
  overflow: hidden;
  background-color: #000;
  top: 295px;
  right: 30px;
  z-index: -10;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  opacity: 0.5;
  transform: perspective(800px) rotateX(80deg) skewX(-20deg) translateY(20px);
  filter: blur(50px);
  -webkit-transform: perspective(800px) rotateX(80deg) skewX(-20deg)
    translateY(20px);
  -moz-transform: perspective(800px) rotateX(80deg) skewX(-20deg)
    translateY(20px);
  -ms-transform: perspective(800px) rotateX(80deg) skewX(-20deg)
    translateY(20px);
  -o-transform: perspective(800px) rotateX(80deg) skewX(-20deg) translateY(20px);
  -webkit-filter: blur(50px);
}

main {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

input[type="range"] {
  appearance: none;
  width: 80%;
  height: 10px;
  background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 12px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #333333;
  margin-top: -6px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #000000;
}

@media (width < 420px) {
  main {
    width: 350px;
  }
  .card {
    width: 350px;
    height: 350px;
  }
  .card > div {
    width: 60px;
    height: 60px;
  }
  .shadowCard {
    transform: perspective(800px) rotateX(80deg) skewX(-20deg)
      translateY(-320px) translateX(-320px);
    filter: blur(50px);
    -webkit-transform: perspective(800px) rotateX(80deg) skewX(-20deg)
      translateY(-320px) translateX(10px);
    -moz-transform: perspective(800px) rotateX(80deg) skewX(-20deg)
      translateY(-320px) translateX(10px);
    -ms-transform: perspective(800px) rotateX(80deg) skewX(-20deg)
      translateY(-320px) translateX(10px);
    -o-transform: perspective(800px) rotateX(80deg) skewX(-20deg)
      translateY(-320px) translateX(10px);
    -webkit-filter: blur(50px);
  }
}

@media (width < 360px) {
  main {
    width: 300px;
  }
  .card {
    width: 310px;
    height: 310px;
  }
  .card > div {
    width: 60px;
    height: 60px;
  }
  .shadowCard {
    display: none;
  }
}

@keyframes cover {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
